body { background-color: #eaf6f6; }
div { align-content : center; }
hr 
{ 
     border-style: none;
     border-top-style: dotted ;
     border-color: #fcfefe;
     border-width: 8px;
     background-color: #eaf6f6;
     width: 6%;
}
h1,h2,h3,caption,label { color: #66bfbf; }
p,li,td { color : grey; }